@import url("https://fonts.googleapis.com/css2?family=Asap:wght@800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Sora&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat+Alternates&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Ubuntu&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Pacifico&display=swap");

html,
body {
  margin: 0px;
  padding: 0px;
  font-size: 16px;
  font-family: "Calibri";
  font-weight: 800;
}
/* menu */
.wrapper {
  width: 1024px;
  margin: auto;
  padding: 20px 0px 20px 0px;
}
.logo {
  display: flex;
  align-items: center;
}
.logo > img {
  width: 45px;
  border-radius: 50%;
}
nav {
  background-color: #b49283;
  color: #fff;
  position: sticky;
  top: 0;
  z-index: 1;
}
nav > .wrapper {
  display: flex;
  justify-content: space-between;
  font-size: 1.2rem;
  align-items: center;
}
.menu {
  width: 50%;
}
.menu > ul {
  display: flex;
  list-style-type: none;
  margin: 0px;
  padding: 0px;
  justify-content: space-between;
}
.menu > ul > li > a {
  text-decoration: none;
  color: #fff;
}
/* header */
header {
  background: url("/img/background.jpg");
  height: 100vh;
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  font-family: "Ubuntu", sans-serif;
  margin-bottom: 10px;
  position: relative;
}
.header-opacity {
  background-color: #fff;
  width: 100%;
  height: 100%;
  opacity: 0.4;
  top: 0;
  left: 0;
  position: absolute;
}
.header-jumbotron {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 100%;
  align-items: center;
  flex-direction: column;
  text-align: center;
  position: absolute;
}
.header-jumbotron > h4 {
  color: #fff;
  font-family: "Pacifico", cursive;
  font-size: 5rem;
  margin: 20px;
  padding: 0px;
  letter-spacing: 5px;
  text-shadow: 0 0 40px #fc7c7c;
}
.header-jumbotron > h5 > a {
  text-decoration: none;
  color: #fc7c7c;
}
.header-jumbotron > h5 > a:hover {
  color: #5e5e5e;
}
.header-jumbotron > h5 {
  color: #5e5e5e;
  width: 80%;
  text-align: justify;
  padding: 5px;
  font-size: 0.8rem;
  line-height: 1.7rem;
}
a {
  text-decoration: none;
  text-shadow: none;
  color: #fff;
}
.button {
  background-color: #fc7c7c;
  padding: 5px 10px 5px 10px;
  border-radius: 5px;
  font-family: "Calibri";
  margin: 10px;
}
.button:hover {
  background-color: #5e5e5e;
}
.button-xl {
  font-size: 1rem;
  padding: 10px;
}
/* Portfolio */
#portfolio {
  background-color: #b49283;
  color: #fff;
  font-family: "Ubuntu", sans-serif;
  margin-bottom: 10px;
}
#portfolio > .wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}
#portfolio > .wrapper > h4 {
  text-align: center;
  font-size: 5rem;
  margin: 0px;
  padding: 0px;
  margin-bottom: 10px;
}
#portfolio > .wrapper > h5 {
  text-align: center;
  font-size: 1rem;
  margin: 0px;
  padding: 5px;
  margin-bottom: 20px;
}
#portfolio > .wrapper > h4 > span {
  color: #fddad5;
}
#portfolio > .wrapper > p {
  font-size: 0.8rem;
  text-align: justify;
  align-items: center;
  padding: 0px;
}
.images {
  display: flex;
  width: 100%;
  transition: 2s;
}
.images > img {
  width: 100%;
  border-radius: 15px;
}
.wrapper2 {
  width: 800px;
  margin: auto;
  border-radius: 10px;
  overflow: hidden;
}
.slides {
  margin-bottom: 50px;
}
#slide-1:target ~ .images {
  margin-left: 0px;
}
#slide-2:target ~ .images {
  margin-left: -100%;
}
.navigation a {
  display: inline-block;
  height: 25px;
  width: 25px;
  background-color: #afafaf;
  font-size: 0px;
  border-radius: 50%;
  margin: 3px;
}
.navigation a:hover {
  background-color: #fc7c7c;
}
.navigation {
  text-align: center;
  margin-top: 5px;
  margin-bottom: 20px;
}
/* About Me */
#about {
  background-color: #b49283;
  color: #fff;
  font-family: "Ubuntu", sans-serif;
}
#about > .wrapper > h4 {
  text-align: center;
  font-size: 5rem;
  margin: 0px;
  padding: 0px;
}
#about > .wrapper > div {
  display: flex;
  width: 70%;
  justify-content: space-between;
  align-items: center;
  margin: auto;
}
.foto {
  width: 20%;
}
.foto > img {
  width: 100%;
}
.desc {
  width: 80%;
  padding: 20px;
  margin: 10px;
  background-color: #fff;
  color: #5e5e5e;
  border-radius: 10px;
}
.desc > p {
  font-size: 0.8rem;
}
.desc > .social {
  display: flex;
  width: 10%;
  justify-content: space-between;
}
.desc > .social > a {
  color: #fc7c7c;
}
.copy > h5 {
  color: #fc7c7c;
  font-family: "Ubuntu", sans-serif;
  text-align: center;
}

/* 1024, 900, 768, 600, 450 responsive website */
@media only screen and (max-width: 1024px) {
  html,
  body {
    margin: 0px;
    padding: 0px;
    font-size: 12px;
    font-family: "Calibri";
    font-weight: 800;

    /* menu */
    .wrapper {
      width: 90%;
      margin: auto;
      padding : 20px 0px 20px 0px;
      overflow: hidden;
    }
    nav > .wrapper {
      display: flex;
      justify-content: space-evenly;
      font-size: 1.2rem;
      align-items: center;
    }
    nav {
      background-color: #b49283;
      color: #fff;
      position: sticky;
      top: 0;
      z-index: 1;
    }
    .menu {
      display: inline;
      align-items: center;
      width: 50%;
      justify-content: space-evently;
    }

    .menu > ul {
      display: flex;
      list-style-type: none;
      margin: 0px;
      padding: 0px;
      justify-content: space-evently;
    }
    .menu > ul > li {
      height: 100%;
      border: #afafaf 1px solid;
      border-radius: 5px;
      text-align: center;
      overflow: hidden;
    }
    .menu > ul > li:hover {
      background-color: #fc7c7c;
    }
    /* Portfolio */
    #portfolio {
      background-color: #b49283;
      color: #fff;
      font-family: "Ubuntu", sans-serif;
      margin-bottom: 10px;
    }
    #portfolio > .wrapper {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
    #portfolio > .wrapper > h4 {
      text-align: center;
      font-size: 5rem;
      margin: 0px;
      padding: 0px;
      margin-bottom: 10px;
    }
    #portfolio > .wrapper > h5 {
      text-align: center;
      font-size: 1rem;
      margin: 0px;
      padding: 5px;
      margin-bottom: 20px;
    }
    #portfolio > .wrapper > h4 > span {
      color: #fddad5;
    }
    #portfolio > .wrapper > p {
      font-size: 0.8rem;
      text-align: justify;
      align-items: center;
      padding: 0px;
      line-height: 25px;
    }
    .wrapper2 {
      width: 100%;
    }
    .navigation {
      margin-top: -50px;
    }
    .navigation a {
      height: 20px;
      width: 20px;
    }
    .desc > .social {
      display: inline;
    }
    .foto {
      width: 30%;
    }
    .desc {
      width: 100%;
    }
    #about > .wrapper > div {
      width: 100%;
    }
  }
}
