@import url('https://fonts.googleapis.com/css2?family=Asap:wght@800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sora&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');

html, body {
    margin: 0px;
    padding: 0px;
    font-size: 16px;
    font-family: 'Raleway', sans-serif;
}
/* menu */
.wrapper {
    width: 1024px;
    margin: auto;
    padding: 20px 0px 20px 0px;
}
.logo{
    display: flex;
    align-items: center;
}
.logo > img{
    width: 45px;
}
nav {
    background-color: #B49283;
    color: #fff;
    position: sticky;
    top: 0;
    z-index: 100;
}
nav > .wrapper {
    display: flex;
    justify-content: space-between;
    font-size: 1.2rem;
    align-items: center;
}
.menu {
    width: 50%;
}
.menu > ul {
    display: flex;
    list-style-type: none;
    margin: 0px;
    padding: 0px;
    justify-content: space-between;
}
.menu > ul > li > a{
    text-decoration: none;
    color: #fff;
}
/* header */
header{
    background: url("/img/background.jpg");
    height: 100vh;
    background-position: center center;
    background-size: cover;
    background-repeat:no-repeat;
    position: relative;
    font-family: 'Ubuntu', sans-serif;
    margin-bottom: 20px;  
}
.header-opacity {
    background-color: #fff;
    width: 100%;
    height: 100%;
    opacity: 0.7;
    position: absolute;
    top: 0;
    left: 0;
}
.header-jumbotron {
    position: absolute;
    top :0;
    left: 0;
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100%;
    align-items: center;
    flex-direction: column;
    text-align: center;
}
.header-jumbotron > h4 {
    color: #FFF;
    font-size: 5rem;
    margin: 20px;
    padding: 0px;
    letter-spacing: 5px;
    text-shadow: 0 0 10px #1a1919;
}
.header-jumbotron > h5 > a {
    text-decoration: none;
    color: #B49283;
}
.header-jumbotron > h5 > a:hover {
    color: #5e5e5e;
}
.header-jumbotron > h5 {
    color: #5e5e5e;
    width: 50%;
    text-align: justify;
    padding: 5px;
    font-size: 0.8rem;
    line-height: 1.7rem;
}
a {
    text-decoration: none;
    text-shadow: none;
    color: #fff;
}
.button {
    background-color:#B49283 ;
    padding: 5px 10px 5px 10px;
    border-radius: 5px;
    font-family: 'Raleway', sans-serif;
    margin: 10px;
}
.button-xl {
    font-size: 1.2rem;
    padding: 10px;
}
/* Portfolio */
#portfolio {
    background-color: #B49283;
    color: #fff;
    font-family: 'Ubuntu', sans-serif;
}
#portfolio > .wrapper > h4 {
    text-align: center;
    font-size: 2.8rem;
    margin: 0px;
    padding: 0px;
    margin-top: 100px;    
}
#portfolio > .wrapper > h5 {
    text-align: center;
    font-size: 0.8rem;
    margin: 0px;
    padding: 5px;
    margin-bottom: 50px;
}
#portfolio > .wrapper > h4 > span {
    color: #fddad5;
}
#portfolio > .wrapper > p {
    font-size: 0.8rem;
    text-align: center;
    margin-top: 0px;
    padding: 0px;
    line-height: 25px;
    
    }
.grid {
    display: grid;
    grid-template-columns: 45% 45%;
    justify-content: space-evenly;
    margin-top: 30px;
}
.grid > .item {
    border: 1px solid #fff;
    background-color: #fffbf6;
    border-radius: 5px;
    padding: 25px;
}
.grid > .item > img {
    width: 100%;
    border: 1px solid #5e5e5e;
}
/* About Me */
#about {
    background-color: #B49283;
    color: #fff;
    font-family: 'Ubuntu', sans-serif;
    margin:100px;
}
#about > .wrapper > h4 {
    text-align: center;
    font-size: 2.8rem;
    margin: 0px;
    padding: 0px;
    
}
#about > .wrapper > div {
    display: flex;
    width: 70%;
    justify-content: space-between;
    align-items: center;
    margin: auto;
}
.foto {
    width: 30%;
}
.foto > img {
    width: 100%;
}
.desc {
    width: 70%;
    padding: 20px;
    margin: 10px;
    background-color: #fff;
    color: #5e5e5e;
    border-radius: 10px;
}
.desc > .social {
    display: flex;
    width: 10%;
    justify-content: space-between;
}
.desc > .social > a {
    color: #B49283;
}
.copy > h5 {
    color: #B49283;
    font-family: 'Ubuntu', sans-serif;
    text-align: center;
    margin-top: 50px;
}
/* 1024, 900, 768, 600, 450 responsive website */
@media only screen and (max-width : 1024px){
    html, body {
        margin: 0px;
        padding: 0px;
        font-size: 14px;
        font-family: 'Asap', sans-serif;
    }
    /* menu */
    .wrapper {
        width: 100%;
        margin: auto;
        padding: 5px 0px 5px 0px;

    }
    .logo{
        display: flex;
        align-items: center;
    }
    .logo > img{
        width: 45px;
    }
    nav {
        background-color: #B49283;
        color: #fff;
        position: sticky;
        top: 0;
        z-index: 100;
    }
    nav > .wrapper {
        display: flex;
        justify-content: space-evenly;
        font-size: 1rem;
        align-items: center;
    }
    .menu {
        width: 85%;
    }
    .menu > ul {
        display: flex;
        list-style-type: none;
        margin: 0px;
        padding: 0px;
        justify-content: space-between;
    }
    .menu > ul > li > a{
        text-decoration: none;
        color: #fff;
    }
    /* header */
    header {
        margin: 10px 0px 10px 0px;
        height: 100vh;
    }
    .header-jumbotron > h4 {
        margin: 10px 0px 10px 0px;
    }
    .header-jumbotron > h5 {
        width: 80%;

    }
    /* portfolio */
    
    #portfolio > .wrapper > h4 {
        margin-top: 10px;
    }
    .grid {
        display: grid;
        grid-template-columns: 40% 40%;
        grid-gap: 20px;
        justify-content: space-evenly;
    }
    .grid > .item {
        border: 1px solid #fff;
        background-color: #fffbf6;
        border-radius: 5px;
        padding: 5px;
    }
    .grid > .item > img {
        width: 100%;
        border: 1px solid #5e5e5e;
    }
    #portfolio > .wrapper > p {
        font-size: 0.8rem;
        text-align: center;
        margin-top: 0px;
        padding: 0px;
        line-height: 15px;
        margin-bottom: 30px;
    }
        #portfolio > .wrapper > h5 {
            text-align: center;
            font-size: 0.8rem;
            margin: auto;
            padding: 5px;
            margin-bottom: 30px;
    }
    /* about me */
    #about {
        background-color: #B49283;
        color: #fff;
        font-family: 'Ubuntu', sans-serif;
        margin: 10px 0px 10px 0px;        
    }
    #about > .wrapper > h4 {
        text-align: center;
        font-size: 2rem;
        margin: 10px;
        padding: 0px;      
    }
    #about > .wrapper > div {
        display: flex;
        width: 100%;
        justify-content: space-between;
        align-items: center;
        margin: auto;
    }
    .foto {
        width: 30%;
    }
    .foto > img {
        width: 100%;
    }
    .desc {
        width: 70%;
        padding: 20px;
        margin: 10px;
        background-color: #fff;
        color: #5e5e5e;
        border-radius: 10px;
    }
    .desc > .social {
        display: flex;
        width: 20%;
        justify-content: space-between;
    }
    .desc > .social > a {
        color: #B49283;
    }
    .copy > h5 {
        color: #B49283;
        font-family: 'Ubuntu', sans-serif;
        text-align: center;
    }  
}
